.tasksMain {
    padding-top: 2vh;
    margin-left: 17vw;
    color: black;
    width: 60%;

    .heading {
        h1 {
            width: 60vw;
            text-align: center;
        }
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .uptasklist {
        width: 100%;
        overflow-y: scroll;
                    /* Chrome, Edge and Safari */
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
        
                    &::-webkit-scrollbar-track {
                        border-radius: 5px;
                        background-color: transparent;
                    }
        
        
                    &::-webkit-scrollbar-thumb {
                        border-radius: 5px;
                        background-color: palevioletred;
                    }
        
                    &::-webkit-scrollbar-thumb:hover {
                        background-color: rgb(238, 122, 161);
                    }
        
                    &::-webkit-scrollbar-thumb:active {
                        background-color: rgb(238, 122, 161);
                    }
        .taskslistmain {
            margin: auto;
            margin-top: 5vh;
            display: flex;
            flex-direction: column;
            gap: 4vh;
            height: 70vh;
            width: 50vw;
            // padding-right: 10px;

            .taskrec {
                display: flex;
                width: 100%;
                background: none;
                border: 1px solid palevioletred;
                border-style: dashed;
                padding: 3.5%;
                border-radius: 20px;
                align-items: center;
                justify-content: center;

                .left {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;
                    width: max-content;
                    p{
                        width: max-content;
                    }
                    .tags {
                        display: flex;
                        gap: 10%;
                        // width: 30vw;
                        flex-wrap: wrap;
                        .tag {
                            font-family: poppins;
                            font-weight: 500;
                            color: white;
                            font-size: 0.7rem;
                            padding-left: 5%;
                            padding-right: 5%;
                            padding-top: 1%;
                            padding-bottom: 1%;
                            border-radius: 25px;
                            min-width: max-content;
                        }
                    }
                }
            }
        }
    }

}